<title>THE CARDIOLOGY PRIMER</title>
<style>
        body {
            font-family: 'Droid Serif', serif;
            color: #2f2f2f;
            background-color: #f7f5f1;
        }

        header {

            line-height: 100px;
            text-align: center;
            background-color: #f7f5f1;
            color: black;
            font-size:70px;
 
        }

        section {
            column-count: 5;
            column-gap: 20px;
            column-rule: 2px dotted black;
            column-width: 150px;
            height: 610px;
            margin: 0 0 10px 10px;
        }

        h3 {
            font-family: Arial;
            color: black;
            border-bottom: 1px solid #2f2f2f;
            border-top: 1px solid #2f2f2f;
            background-color: rgba(219, 191, 150, 0.473);
        }

        footer {
            font-family: Arial;
            text-align: center;
            background-color: black;
            color: white;
        }

        .subhead {
            text-transform: uppercase;
            border-bottom: 2px solid #2f2f2f;
            border-top: 2px solid #2f2f2f;
            padding: 12px 0 12px 0;
            text-align: center;
        }

        marquee {
            font-size: 50px;
        }

        a {
            font-family: sans-serif;
            color: black;
            text-decoration: none;
            margin-left: 450px;
        }

        a:hover {
            color: gray;
        }    
    </style>